<div class="container">
  <button class="btn btn-success" (click)="onAdd()">
    <i class="fa fa-plus-circle"></i> Add
  </button>

  <div class="card" *ngIf="enableAddForm">
    <app-food-tracker-add-form (close)="closeAddForm($event)"></app-food-tracker-add-form>
  </div>

  <div class="card" *ngIf="enableEditForm">
    <app-food-tracker-edit-form 
      [currentFoodTrackerName]="editFormFoodName"
      [currentFoodTrackerAmount]="editFormAmount"
      [currentFoodTrackerDate]="editFormDate"
      [currentFoodTrackerId]="editFormId"
      [currentFoodTrackerQtyEnum]="editFormQtyEnum"
      (close)="closeEditForm($event)">
    </app-food-tracker-edit-form>
  </div>

  <table class="table table-striped table-dark">
    <thead>
      <tr class="bg-primary">
        <th scope="col">Date</th>
        <th scope="col">Food Name</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let foodTracker of foodTrackerList">
        <td>{{foodTracker.date | date}}</td>
        <td>{{foodTracker.foodName}}</td>
        <td>
          <div class="row">
            <div class="col">
              {{foodTracker.amount}}
            </div>
            <div class="col-4">
              <button class="btn btn-sm btn-danger" (click)="onDelete(foodTracker)">
                <i class="fa fa-trash"></i>
              </button>
              <button class="btn btn-sm btn-warning" (click)="onEdit(foodTracker)">
                <i class="fa fa-edit"></i>
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="listExist; then exist else notExist"></div>