<div class="summary-body">
  <ng-template #exist>
    <div class="container">

      <div class="jumbotron">
        <div class="row">
          <div class="col-2">
            <div class="btn bg-success" style="margin-bottom: 1.5rem">
              <strong>Calories gained</strong>
            </div>
            <div class="btn bg-danger">
              <strong>Calories burned</strong>
            </div>
          </div>
          <div class="col-8">
            <h2 style="line-height: 3rem">The minimum average calorie requirements for a human being is 
              <span class="bg-success btn"><h2>1200</h2></span>
            </h2>
          </div>
          <div class="col-2">
            <button class="btn btn-info" (click)="onDownload()">
              <i class="fa fa-download"></i> Download Detailed Summary Report as PDF
            </button>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-xl-2 col-md-4 col-sm-6" *ngFor="let summary of summaryList">
          <div class="card-group">
            <div class="card">
              <div class="card-header" style="background-color: darkblue; color: white">
                {{summary.date | date}}
              </div>
              <div *ngIf="summary.calories>=0; then gained else burned"></div>
              <ng-template #gained>
                <div class="card-body bg-success">
                  <h2>{{summary.calories | number : '.0-2'}}</h2>
                </div>
              </ng-template>
              <ng-template #burned>
                <div class="card-body bg-danger">
                  <h2>{{-summary.calories | number : '.0-2'}}</h2>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>


    </div>
  </ng-template>

  <ng-template #empty>
    <div class="container">
      <div class="jumbotron">
        <h4>
          No information available <i class="fa fa-exclamation-triangle"></i>
        </h4>
        <p>
          Please enter your food and workout information in tracker
        </p>
      </div>
    </div>
  </ng-template>
</div>

<div *ngIf="listExist; then exist else empty"></div>