<div class="row">
    <img 
      src="https://freshplatter.files.wordpress.com/2015/12/catering-s.jpg" 
      width="668"
      height="380" />
    <img
      src="https://st.depositphotos.com/1224365/1395/i/450/depositphotos_13956462-stock-photo-sport-man-starting-running.jpg" 
      width="668"
      height="380"/>
</div>
<div class="jumbotron">
  <h2>About Healthifier</h2>
  <hr />
  <p>
    Healthifier is the one stop solution for all your calorie requirements.
    Sign in and we will keep your calorie counts.
  </p>
  <p>
    A food tracker and a workout tracker keeps track and calculates the number of calories
    you gain and lose everyday. You can also generate a detailed report summary that helps you
    visualize your current lifestyle (food and workout habits) and plan them accordingly.
  </p>
  <p>
    Lastly, we have a notify section where you can notify if we miss on a food/workout item,
    or how do you like our app, or request any new/existing feature changes.
  </p>
</div>