<nav class="navbar" style="background-color: rgb(59, 7, 59)">
    <a class="navbar-brand" routerLink="welcome">Healthifier</a>
    <div class="navbar-right" style="display: flex">
        
        <div *ngIf="authService.isLoggedIn(); then userIsLoggedIn else noUserIsLoggedIn"></div>

        <ng-template #userIsLoggedIn>
            <span class="navbar-text">Hi, {{ getUsername() }}</span>
            <button class="btn btn-link nav-link" (click)="logout()">LogOut</button>
        </ng-template>

        <ng-template #noUserIsLoggedIn>
            <a class="nav-link" routerLink="login">Sign In</a>
            <a class="nav-link" routerLink="register">Register</a>
        </ng-template>

    </div>
</nav>