/* Fixing the header nav at the top, the component below this should have a margin-bottom 
of this length */
.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    padding-top: 1px;
    z-index: 1
}

span {
    color: rgb(24, 226, 24);
}